reconstructed_data.pkl
original_data.pkl
.idea/
/logs/
/emg_data_folder/
/loader_modules/raw_emg_loader.py
/loader_modules/mnist28.py
/examples/run_raw_emg_classifier_vae_CNN.py
/examples/run_mnist_variational_autoencoder_MPL.py
/examples/run_mnist_variational_autoencoder_CNN.py
/examples/run_raw_emg_CNN_MLP.py
/visualization_modules/__pycache__/
/update_modules/__pycache__/
/training/__pycache__/
/networks/__pycache__/
/loader_modules/__pycache__/
test_MPS.py
/mps_test.py
/venv


